<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yenan.cn.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.yenan.cn.domain.User" >
    <constructor >
      <idArg column="user_id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_age" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_phone_number" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, user_age, user_phone_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sys_user
    where user_id = #{userId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.yenan.cn.domain.User" >
    insert into t_sys_user (user_id, user_name, user_age, 
      user_phone_number)
    values (#{userId,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, #{userAge,jdbcType=INTEGER}, 
      #{userPhoneNumber,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yenan.cn.domain.User" >
    insert into t_sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userAge != null" >
        user_age,
      </if>
      <if test="userPhoneNumber != null" >
        user_phone_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null" >
        #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userPhoneNumber != null" >
        #{userPhoneNumber,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yenan.cn.domain.User" >
    update t_sys_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAge != null" >
        user_age = #{userAge,jdbcType=INTEGER},
      </if>
      <if test="userPhoneNumber != null" >
        user_phone_number = #{userPhoneNumber,jdbcType=CHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yenan.cn.domain.User" >
    update t_sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_age = #{userAge,jdbcType=INTEGER},
      user_phone_number = #{userPhoneNumber,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=CHAR}
  </update>
</mapper>